appdirs==1.4.4
asyncgui==0.6.0
asynckivy==0.6.1
build==1.0.3
buildozer==1.5.0
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
Cython==0.29.33
distlib==0.3.8
docutils==0.20.1
exceptiongroup==1.2.0
filelock==3.13.1
idna==3.6
importlib-metadata==7.0.1
Jinja2==3.1.3
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=d3bfc33c13792cca1d19875869838215a931d6fb0c3c8ea490c23d33c7f530d2
MarkupSafe==2.1.4
materialyoucolor==2.0.5
packaging==23.2
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.1.0
ptyprocess==0.7.0
Pygments==2.17.2
pyproject_hooks==1.0.0
requests==2.31.0
sh==1.14.3
toml==0.10.2
tomli==2.0.1
urllib3==2.1.0
virtualenv==20.25.0
zipp==3.17.0
